<!DOCTYPE html>

<html ng-app="app">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/libs/angular.min.js"></script>
    <script src="js/script.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body ng-controller="appCtrl" ng-class="{disableScroll:disableScroll}">

	<header>

		<div class="logo"></div>

		<h2>
			<span>Shadow</span>
			<span>Yoga</span>
			<span>Shala</span>
		</h2>

		<ul class="topnav" id="myTopnav">
			<li>
				<a href="">Menu</a>
				<a href="javascript:void(0);" class="closeNav" ng-click="openNavbar()">&#10005;</a>
			</li>
			<li>
		    	<a href="#what" ng-click="openNavbar()">What is Shadow Yoga?</a>
		    </li>
		    <li>
		    	<a href="#studio" ng-click="openNavbar()">The Studio</a>
		    </li>
		    <li>
		    	<a href="#teachers" ng-click="openNavbar()">The Teachers</a>
		    </li>
		    <li>
		    	<a href="#news" ng-click="openNavbar()">News</a>
		    </li>
		    <li>
		    	<a href="#contact" ng-click="openNavbar()">Contact</a>
		    </li>
		    <li>
			    <a href="javascript:void(0);" class="icon" ng-click="openNavbar()">&#9776;</a>
			</li>
		</ul>
		<!-- <div class="darkBox" id="navDark" ng-click="navOpen=false" ng-class="{show:navOpen}"></div> -->
		<div class="darkBox" id="darkBox" ng-click="openNavbar()"></div>

		<div class="langDrop">
			<span>English</span>
			<span>/</span>
			<span>עברית</span>
		</div>
	</header>

	<div id="wrapper">

		<div class="bgr1"></div>

		<div id="what">
			<h2>What is Shadow Yoga?</h2>
			<p>
				The name Shadow Yoga is derived from the 6th chapter of the ancient tantrika treatise ‘The Shiva-Svarodaya’ (the birth of the
				breath of life revealed by the god Shiva). This chapter, entitled ‘Yoga of the Shadow Man’, deals with the intricate manifestations of
				the shadow and their significance both inside and outside the human organism.
				The Ashtanga Hrdaya of Vagbhata, a primary ayurvedic text, also contains a chapter on the shadow which deals with diagnostic
				principles. There is also a story about Allama Prabhudeva, the initiating guru of Gorakshanath (one of the famous forefathers of
				Hatha Yoga), in which he describes the human body as nothing but layers of frozen shadows. According to Hatha Yogic anatomy
				the body is composed of three discrete bodies and five sheaths (coverings or shadows). The practice of Hatha Yoga has evolved
				with the purpose of dissolving these shadows.
			</p>
		</div>

		<div class="bgr2"></div>

		<div id="studio">
			<h2>The Studio</h2>
			<p>
				The name Shadow Yoga is derived from the 6th chapter of the ancient tantrika treatise ‘The Shiva-Svarodaya’ (the birth of the
				breath of life revealed by the god Shiva). This chapter, entitled ‘Yoga of the Shadow Man’, deals with the intricate manifestations of
				the shadow and their significance both inside and outside the human organism.
				The Ashtanga Hrdaya of Vagbhata, a primary ayurvedic text, also contains a chapter on the shadow which deals with diagnostic
				principles. There is also a story about Allama Prabhudeva, the initiating guru of Gorakshanath (one of the famous forefathers of
				Hatha Yoga), in which he describes the human body as nothing but layers of frozen shadows. According to Hatha Yogic anatomy
				the body is composed of three discrete bodies and five sheaths (coverings or shadows). The practice of Hatha Yoga has evolved
				with the purpose of dissolving these shadows.
			</p>
		</div>

		<div class="bgr3"></div>

		<div id="teachers">
			<h2>The Teachers</h2>
			<div class="teacher">
				<div class="teacherImg ronen">
				</div>
				<h2>Ronen Cohen</h2>
				<p>
					started practicing yoga in 2002. In 2005 I finished my first teacher
					course and started teaching yoga to groups and individuals.
					In 2007, I met my uncle, Malka, and since then I have been practicing
					Yoga. A few years later, I started to study with Sandor Ramata, a
					master of the shadow yoga school and Emma Blanves.
					I feel fortunate that I have persisted in yoga, and am thrilled by the
					many layers in which it deepens. I am grateful to the teachers who
					lead me safely, and I am happy to have the right to help others walk
					this wonderful way.
				</p>
			</div>
			<div class="teacher">
				<div class="teacherImg dudi">
				</div>
				<h2>Dudi Malka</h2>
				<p>
					Dudi has been studying and practicing yoga for 19 years, of which two
					and a half years in India. In the past fourteen years he has studied and
					practiced shadow yoga in workshops in Europe and India, under the
					guidance and inspiration of his teacher Shandor Ramta. Teaches and
					authorizes teachers in Haifa and at his home in Harduf.
				</p>
			</div>
		</div>

		<div id="contact">
			<div class="info">
				<h2>Contact</h2>
				<a href="https://www.google.com/maps/place/Bar+Ilan+St+13,+Tel+Aviv-Yafo/@32.069966,34.7753677,17z/data=!3m1!4b1!4m5!3m4!1s0x151d4b7f1cd192d3:0xdf666f14448cdcfb!8m2!3d32.0699615!4d34.7775564" target="_blank">
					<img src="./img/location.png">
					<span>13 Bar Ilan St. Tel Aviv, Israel</span>
				<a href="mailto:info@shadowyoga.co.il">
					<img src="./img/mail.png">
					<span>info@shadowyoga.co.il</span>
				<a href="tel:972-050-1234567">
					<img src="./img/call.png">
					<span>+972 .50.1234567</span>
				</a>
				<a href="https://www.facebook.com/Shadowyogashala/" target="_blank">
					<img src="./img/facebook.png">
					<span>shadow yoga Isarel</span>
				</a>
			</div>
			<form>
				<input type="text" name="fullName" ng-model="fullName" placeholder="Full Name" required>
				<input type="email" name="email" ng-model="email" placeholder="E mail" required>
				<textarea placeholder="Your Message" ng-model="message" required></textarea>
				<input type="submit" name="submit" value="Submit" ng-click="sendContactForm()">
			</form>
		</div>
		
	</div>

	<footer>
		<a href="#top">&#10094;</a>
	</footer>

</body>




</html>