<!DOCTYPE html>

<html ng-app="app">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="js/libs/angular.min.js"></script>
    <script src="js/script.js"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>Shadow Yoga Shala</title>

    <script src="js/languageService/languageService.js"></script>
    <script src="js/languageService/languages/lang_he.js"></script>
    <script src="js/languageService/languages/lang_en.js"></script>
</head>

<body ng-controller="appCtrl" ng-class="{disableScroll:disableScroll, 'hebMode':language=='hebrew'}">

	<header>

		<div class="logo"></div>

		<h2>
			<span>Shadow</span>
			<span>Yoga</span>
			<span>Shala</span>
		</h2>

		<ul class="topnav" id="myTopnav">
			<li>
				<a href="">{{dict.mainTitle}}</a>
				<a href="javascript:void(0);" class="closeNav" ng-click="openNavbar()">&#10005;</a>
			</li>
			<li ng-repeat="line in dict.menu">
		    	<a ng-href="{{line.link}}" ng-click="openNavbar()">{{line.title}}</a>
		    </li>
		    <li>
			    <a href="javascript:void(0);" class="icon" ng-click="openNavbar()">&#9776;</a>
			</li>
		</ul>
		<div class="darkBox" id="darkBox" ng-click="openNavbar()"></div>

		<div class="langDrop">
			<span ng-click="changeLang('english')" ng-class="{active:language=='english'}">English</span>
			<span>/</span>
			<span ng-click="changeLang('hebrew')" ng-class="{active:language=='hebrew'}">עברית</span>
		</div>
	</header>

	<div id="wrapper">

		<div class="bgr1"></div>

		<div id="what">
			<h2>{{dict.whatIs.title}}</h2>
			<p>{{dict.whatIs.text}}</p>
		</div>

		<div class="bgr2"></div>

		<div id="studio">
			<h2>{{dict.studio.title}}</h2>
			<p>{{dict.studio.text}}</p>
		</div>

		<div class="bgr3"></div>

		<div id="teachers">
			<h2>{{dict.teachers.title}}</h2>
			<div class="teacher">
				<div class="teacherImg ronen"></div>
				<h2>{{dict.teachers.names[0].title}}</h2>
				<p>{{dict.teachers.names[0].text}}</p>
			</div>
			<div class="teacher">
				<div class="teacherImg dudi"></div>
				<h2>{{dict.teachers.names[1].title}}</h2>
				<p>{{dict.teachers.names[1].text}}</p>
			</div>
		</div>

		<div id="contact">
			<div class="info">
				<h2>{{dict.contact.title}}</h2>
				<a href="https://www.google.com/maps/place/Bar+Ilan+St+13,+Tel+Aviv-Yafo/@32.069966,34.7753677,17z/data=!3m1!4b1!4m5!3m4!1s0x151d4b7f1cd192d3:0xdf666f14448cdcfb!8m2!3d32.0699615!4d34.7775564" target="_blank">
					<img src="./img/location.png">
					<!-- <span>13 Bar Ilan St. Tel Aviv, Israel</span> -->
					<span>{{dict.contact.address}}</span>
					
				<a href="mailto:info@shadowyoga.co.il">
					<img src="./img/mail.png">
					<span>info@shadowyoga.co.il</span>
				<a href="tel:972-050-1234567">
					<img src="./img/call.png">
					<span>+972 .50.1234567</span>
				</a>
				<a href="https://www.facebook.com/Shadowyogashala/" target="_blank">
					<img src="./img/facebook.png">
					<span>shadow yoga Isarel</span>
				</a>
			</div>
			<form>
				<input type="text" name="fullName" ng-model="fullName" placeholder="{{dict.contact.form.name}}" required>
				<input type="email" name="email" ng-model="email" placeholder="{{dict.contact.form.email}}" required>
				<textarea placeholder="{{dict.contact.form.message}}" ng-model="message" required></textarea>
				<input type="submit" name="submit" value="{{dict.contact.form.send}}" ng-click="sendContactForm()">
			</form>
		</div>

	</div>

	<footer>
		<a href="#top">&#10094;</a>
	</footer>

</body>




</html>